body {
    text-align: center;
    /*font-family: 'Rajdhani';font-size: 22px;*/
}

nav {
    background-color: #2d2275;
    padding: 10px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    .nav_left,
    .nav_right,
    .shipping_left,
    .shipping_right,
    .settings_left,
    .settings_right {
        max-width: 100%;
    }

    /* Convert horizontal nav links to vertical */
    nav ul li {
        float: none;
        width: 100%;
    }

    .aboutus {
        /* Start wrapping if the width is too low */
        flex-wrap: wrap;
    }

    .buyfromustable {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

.nav_left,
.nav_right,
.shipping_left,
.shipping_right,
.settings_left,
.settings_right {
    display: inline-block;
    vertical-align: top;
}

.shipping {
    box-shadow: 5px 5px 5px 5px #888888;
    border: 2px;
    margin: 0 20% 0 20%;
}

.shipping_left>*,
.shipping_one_line>*,
.settings_right>* {
    padding: 5px;
    margin: 2px;
    text-align: left;
}

.settings_left>div,
.settings_left>div>* {
    display: block;
    width: 100%;
}

.shipping_right>* {
    padding: 15px;
    margin: 6px;
    text-align: center;
}

.shipping_one_line>input,
.shipping_one_line>select,
.shipping_one_line>div {
    display: inline;
}

.shipping_left>input,
.shipping_left>button {
    display: block;
}

.shipping_right>h6 {
    color: black;
}

.shipping_header>h4 {
    display: inline;
    color: black;
    font-weight: bold;
}

.shipping_entry>h4 {
    display: inline;
    color: black;
    font-weight: lighter;
}

.shipping_id {
    padding: 4px;
    text-align: center;
}

.shipping_name,
.shipping_units,
.shipping_price {
    text-align: center;
    padding: 4px;
}

.settings_image_button {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    color: #222222;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.settingsbutton {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    color: #222222;
    padding: 10px;
    float: right;
    margin: 20px;
    border-radius: 5px;
    border: none;
}

.shippingsend {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    color: #222222;
    padding: 10px;
    position: relative;
    left: 70%;
    border-radius: 5px;
    border: none;
}

/* Clear floats after the columns */
.shipping_header:after,
.shipping_entry:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    list-style: none;
}

nav img {
    float: left;
    height: 80px;
    width: 160px;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
}

nav ul li a:link {
    columns: #777777;
    widows: 125px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: rgb(0, 153, 255);
}

h2,
h4,
h5,
h6 {
    color: white;
    /*font-family: 'Rajdhani'; */
    font-family: serif;
}

h6 {
    text-align: center;
}

h4 {
    text-align: center;
    /*    top: 30%;
    position: absolute;*/
}

h5 {
    padding: 10px;
}

.bkgnd {
    background-image: url("imgsay/home-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    background-color: #2d2275;
    width: 100%;
    height: 100px;
    font-size: 0.70em Roboto;
    font-style: italic;
}

.copyright p {
    display: inline;
}

.white {
    color: white;
}

.content {}

.breadcrumb {
    position: relative;
}

#breadcrumbh6 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 0;
}

#breadcrumbh4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
}

.breadcrumb img {
    width: 100%;
    height: 30%;
}

.aboutus {
    align-items: center;
    justify-content: center;
    display: flex;

    background-color: #000033;
    width: 60%;
    margin: 5% auto 5% auto;
}

.aboutusimage img {
    width: 550px;
    height: 275px;
    padding: 10px;
    padding-left: 50px;
    max-width: 100%;
    max-height: 100%;
}

.aboutustext {
    text-align: left;
    padding: 30px;
}

.aboutustext p {
    color: white;
}

.contactus {
    background-color: white;
    color: black;
    width: 100%;
    height: 450px;
    align-items: center;
    display: flex;
    background-color: white;
    text-align: left;
    justify-content: center;
}

.contactussend {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    padding: 0px 35px;
    color: #222222;
    padding: 10px;
    position: relative;
    left: 90%;
    border-radius: 5px;
    border: none;
}

.contactusgrid {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0px auto 0px auto;
    grid-column-gap: 20px;
    height: 30%;
    width: 70%;
    padding: 20px;
}

.contactusleft>div {
    margin: 10px;
    padding-right: 20px;
}

.contactusright>div {
    margin: 10px;
}


.buyfromuscontenttitle {
    padding: 10px;
    font-size: 140%;
    font-weight: bolder;
}

.buyfromustable {
    display: grid;
    margin: auto 10% 10% 10%;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.buyfromustabledata {
    text-align: left;
    border: 1px dotted;
    margin: 20px;
    padding: 20px;
}

.buyfromustabledata>img {
    width: 180px;
    height: 180px;
}

.footer {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
    padding: 10px;
    margin: auto;
}

#footerh2 {
    margin: 10px 140px 10px 140px;
    font-weight: bold;
    color: #000033;
}

#footerh6 {
    margin: 5px 140px 20px 140px;
    color: #777777;
    text-align: left;
}

.footerleft {
    display: inline-block;
    vertical-align: center;
}

.footerright {
    display: inline-block;
    vertical-align: center;
}

#footersubscribe {
    margin-left: -100px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
}

#footertextarea {
    resize: none;
    border-radius: 12px;
}

#cartbuy {
    text-align: center;
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
    border-radius: 20px;
    padding: 15px;
    float: right;
    border-width: 2px;
    border-style: solid;
}

.homepageleft img {
    width: 30%;
    height: 70%;
}

.homepageright_playbutton {
    display: inline-block;
    padding: 10px;
}

.homepageright_playtext {
    display: inline-block;
}

.homepagegrid {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0px auto 0px auto;
    grid-column-gap: 0px;
    width: 70%;
    padding: 200px;
}

.summarygrid {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1.5fr 0.6fr;
    margin: 0px auto 0px auto;
    grid-column-gap: 20px;
    height: 30%;
    padding: 20px;
    width: 70%;
}

.summarygrid>div {
    padding: 10px;
}

.totalmade {
    text-align: center;
    background-color: navy;
}

.conferences {
    text-align: center;
    background-color: green;
}

.events {
    text-align: center;
    background-color: yellow;
}

.activities {
    text-align: center;
    background-color: grey;
}

.label {
    background-color: #efefef;
    text-align: right;
}

.cardgrid {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1.5fr 0.6fr;
    margin: 0px auto 0px auto;
    grid-column-gap: 20px;
    height: 30%;
    padding: 20px;
    width: 70%;
}

.conferenceslist {
    padding-bottom: 5%;
}

.conferenceslist>h4 {
    color: black;
    position: relative;
    top: 30%;
    padding: 10px;
    font-size: 140%;
    font-weight: bolder;
}

#conferencedetails {
    border-collapse: collapse;
    border-spacing: 5px;
    width: 80%;
}

.loginsend {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
    padding: 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 5%;
    top: 55%;
}

.login {
    padding: 100px;
    text-align: left;
    justify-content: center;
    position: relative;
}

.loginform>div {
    padding: 10px;
}

.loginform {
    box-shadow: 5px 5px #888888;
    width: 40%;
    position: relative;
    left: 30%;
}

.signupgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0px auto 0px auto;
    /*height: 30%;*/
    /*padding: 20px;*/
    width: 80%;
}

.signupgrid>div>p {
    margin: 10px;
}

.signupform {
    padding: 10px;
    box-shadow: 5px 5px #888888;
    width: 45%;
    position: relative;
    left: 30%;
}

.signup {
    margin: 10% 10% 10% 10%;
}

.individualsend,
.eventsend,
.businesssend {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content>img {
    width: 100px;
    height: 100px;
    float: left;

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30%;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.h3 {
    text-align: center;
}

.red {
    color: red;
}

.buytablebutton {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#one {}

#two {}

#three {}

#four {}

#five {}

#six {}

#singupsend {
    background-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    background-size: 200% auto;
    color: #222222;
    padding: 10px;
    position: relative;
    left: 85%;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.individualsignupform>h4,
.eventsignupform>h4,
.businesssignupform>h4,
.radiobuttons>h6 {
    color: black;
    text-align: center;
}

.individualsignupform>div,
.eventsignupform>div,
.businesssignupform>div {
    padding: 4px;
}

.radiobuttons {
    display: inline-block;
    position: relative;
    left: 25%;
}

.radiobuttons>h6,
.radiobuttons>input {
    display: inline-block;
    text-align: center;
}

.individualsignupform,
.eventsignupform,
.businesssignupform {
    text-align: left;
    color: black;
    width: 100%;
    /*height: 80%;*/
    /*background-color: white;*/
    /*height: 450px;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*background-color: white;*/
    /*justify-content: center;*/
}

.blue {
    color: blue;
}

.settingsh4 {
    color: black;
}

.settings {
    width: 80%;
    margin: 5% auto 5% auto;
    align-items: center;
}